venv/
*/venv/
.venv/
Lab\ Questions/
PersonalProjects/
.DS_Store
backend/req.txt
backend/check_gpu.py
backend/Project1/create_simple_test_model.py
backend/Project1/debug_arduino_values.py
backend/Project1/simple_test/
/backend/Project1/.ipynb_checkpoints/
**.zip
**/__pycache__/
backend/.DS_Store
