venv/
*/venv/
.venv/
Lab\ Questions/
PersonalProjects/
.DS_Store
backend/req.txt
backend/check_gpu.py
backend/Project1/create_simple_test_model.py
backend/Project1/debug_arduino_values.py
backend/Project1/simple_test/
/backend/Project1/.ipynb_checkpoints/
**.zip
**/__pycache__/
backend/.DS_Store
.aider*
backend/Project3/data/

gesture_cnn_train.py
Project3_Summary.md
gesture_detection_demo.py
backend/Project4/hagrid-sample-30k-384p
backend/Project4/archive.zip